@import url('./other-file.css');

.main-container {
    background-image: url('https://img.freepik.com/premium-photo/donuts-doughnuts-different-colors-blue-background-with-multi-colored-festive-sugar-sprinkles-holiday-sweets-baking-children-sugar-concept_90380-819.jpg');
    background-size: cover;
    width: 1200px;
	height: 900px;
	display: flex;
	flex-direction: column;
	margin: auto;
	border-radius: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
	width: 1200px;
	height: 200px;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
}

.logo {
	width: 65%;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 15px;
	margin-left: 10px;
}

.logo-text {
	font-size: 30px;
	text-transform: uppercase;
}

.user-account {
	width: 35%;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}

.account-buttons {
	display: flex;
	flex-direction: row;
}

.motto {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 40px;
	background-color: rgb(28, 48, 43);
	color: aliceblue;
}

.catalogue-and-summary {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 500px;
	font-size: 20px;
	margin-left: 10px;
}

.catalogue {
	width: 70%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	margin-top: 10px;
	padding-left: 50px;
}

.pictures {
	overflow-y: scroll;
}

.order-summary {
	width: 23%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 15px;
	background-color: rgb(238, 204, 14);
}

.products-list {
   height: 400px;
   width: auto;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    height: 100px;
}

button {
	background-color: #4e4caf;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 5px;
	font-size: 16px;
}

button:hover {
	background-color: #4d9250;
	color: rgb(245, 245, 231);
}

.account-buttons button {
	background-color: #328d58;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 5px;
	font-size: 16px;
}

.account-buttons button:hover {
	background-color: #16e616;
	color: rgb(14, 14, 12);
}

.footer {
	width: 100%;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(7, 182, 182);
	margin-top: auto;
	border-radius: 5px;
	font-size: 28px;
}
